<mat-grid-list class="bg-primary" cols="3" gutterSize="15px" rowHeight="50px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
      <select #locale (change)="changeLocale(locale.value)"  class="bg-primary text-extra-light-gray">
        <option value="en">English</option>
        <option value="es">Español</option>
      </select>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
</mat-grid-list>


<mat-grid-list cols="2" gutterSize="15px" rowHeight="6:1">
  <mat-grid-tile class="brand">
    <img class="object-cover h-24 absolute left-0" src="./assets/images/globaltech_logo_color.svg" alt="" srcset="">
  </mat-grid-tile>
  <mat-grid-tile>
    <ul class="flex navbar">
      <!-- <li [routerLink]="item.router"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngFor="let item of mainMenu.defaultOptions">
        {{item.name}}
      </li> -->
      <li routerLink="/home"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }">
        {{'MENU.HOME' | translate }}
      </li>
      <li routerLink="/products"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }">
        {{'MENU.PRODUCTS' | translate }}
      </li>
      <li routerLink="/us"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }">
        {{'MENU.ABOUT_US' | translate }}
      </li>
      <li routerLink="/contact"
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }">
        {{'MENU.CONTACT' | translate }}
      </li>
    </ul>
  </mat-grid-tile>
</mat-grid-list>

