<div class="bg-primary">
  <div class="container px-4 lg:px-10 max-w-[96rem] grid grid-cols-2 sm:grid-cols-3 items-center">
    <div class="sm:col-start-2 sm:col-span-1 sm:place-self-center">
        <select #locale (change)="changeLocale(locale.value)"  class="bg-primary text-extra-light-gray">
          <option value="en">English</option>
          <option value="es">Español</option>
        </select>
    </div>
    <div class="sm:col-start-3 sm:col-span-1 place-self-end">
      <app-social-media></app-social-media>
    </div>
  </div>
</div>

<div class="container px-4 lg:px-10 max-w-[96rem] header">
  <div class="py-7 grid grid-cols-12 items-center">
    <div class="col-span-2 grid md:hidden"></div>
    <div class="brand col-span-8 md:col-span-4 lg:col-span-3" routerLink="/home">
      <img class="h-10 md:h-auto object-contain w-full" src="./assets/images/globaltech_logo_color.svg" alt="" srcset="">
    </div>
    <nav class="justify-self-end md:col-start-7 md:col-span-6 nav">
      <ul id="menu" [ngClass]="[selectDiv ? 'w-screen h-screen bg-primary' : 'hidden','navbar', 'text-md', 'lg:text-lg', 'menu', 'w-full', 'fixed', 'top-0', 'right-0', 'px-10', 'py-16', 'bg-gray-800', 'z-50', 'md:relative', 'md:flex', 'md:p-0', 'md:bg-transparent', 'md:flex-row', 'md:space-x-6', 'lg:self-end']">
        <li class="md:hidden z-90 fixed top-4 right-6">
            <button class="text-right text-white text-4xl" (click)="toggleDiv()">
              <mat-icon>close</mat-icon>
            </button>
        </li>          
        <li 
        class="text-white md:text-primary"
        [routerLink]="item.router"
        routerLinkActive="router-link-active"
        [routerLinkActiveOptions]="{ exact: true }"
        *ngFor="let item of mainMenu.defaultOptions">
          {{item.name | translate}}
        </li>
      </ul>

    </nav>
    <div class="cols-span-2 md:hidden">
      <button class="text-primary text-4xl font-bold opacity-70 hover:opacity-100 duration-300"
        (click)="toggleDiv()">
          <mat-icon>menu</mat-icon>
        </button>
    </div>
  </div>
</div>
