<!-- {{ 'HOME_WORKS' | translate }} -->
<!-- <label translate='login.username'></label>
<div [translate]="'HOME_WORKS'" [translateParams]="{value: 'world'}"></div>

<div [innerHTML]="'HOME_WORKS' | translate"></div> -->
<app-wrap-hero 
  [mode]="'video'"
  [videobackground]="'./assets/video/home-hero-video'"
  [imagebackground]="'./assets/images/poster-home-hero.png'">
</app-wrap-hero>
<app-wrap-description>
</app-wrap-description>
<app-wrap-cards [dataCards]="dataCards">
</app-wrap-cards>
<div class="text-center my-10">
  <app-call-to-action></app-call-to-action>
</div>