<!-- {{cards._id}}
{{cards.image}}
{{cards.title}}
{{cards.paragraph}} -->

<mat-card class="example-card">
  <!-- <div class="img"></div> -->
  <img [src]="cards.image" alt="{{cards.title}}" class="object-scale-down">
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{cards.title}} </mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <mat-card-content>
    <p>{{cards.paragraph}}</p>
  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>