<!-- <mat-grid-list class="bg-primary" cols="3" gutterSize="15px" rowHeight="50px">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>
      <select #locale (change)="changeLocale(locale.value)"  class="bg-primary text-extra-light-gray">
        <option value="en">English</option>
        <option value="es">Español</option>
      </select>
  </mat-grid-tile>
  <mat-grid-tile>
    
  </mat-grid-tile>
</mat-grid-list> -->



<!-- <nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand">
      {{'Sitetitle' | translate }} <br>
      {{'home-section.branding' | translate }}
    </a>
  </div>
</nav> -->

<router-outlet></router-outlet>
